<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/image001.png" alt="">
                    </div>
                    <h4>Skills</h4>
                    <div class="line-dec"></div>
                    <p>
                       I speak and write English and Arabic.
                       I am a quick learner.
                       Learning new things on Daily Basis.
                    </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">  
                    <div class="icon">
                        <img src="img/image002.png" alt="">
                    </div>
                    <h4>Software Engineer</h4>
                    <div class="line-dec"></div>
                    <p>Front-End Developer.
                       Back-End Developer.
                    </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/image003.png" alt="">
                    </div>
                    <h4>Development Skills</h4>
                    <div class="line-dec"></div>
                    <p>HTML5 |
                       NodeJs(npmjs) |
                       CSS |
                       Angular |
                       Rxjs |
                       Flutter |

                    </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/image004.png" alt="">
                    </div>
                    <h4>Hobbies</h4>
                    <div class="line-dec"></div>
                    <p>I enjoy reading books and articles..
                       I like meditation.. 
                       I like working out..
                    </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>