<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Our Blog Posts</h4>
                        <div class="line-dec"></div>
                        <p> </p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">hello</a></li>
                            <li><a href="#tab2">hello</a></li>
                            <li><a href="#tab3">hello</a></li>
                            <li><a href="#tab4">hello</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/img007.JPG" alt="">
                            <div class="text-content">
                                <h4>xxx</h4>
                                <span><a href="#">Digital Marketing</a> / <a href="#">name</a> / <a href="#">date</a></span>
                                <p>xxttxx</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="img/img008.JPG" alt="">
                            <div class="text-content">
                                <h4>xxx</h4>
                                <span><a href="#">Branding</a> / <a href="#">name</a> / <a href="#">date</a></span>
                                <p>xxttxx</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="img/img009.JPG" alt="">
                            <div class="text-content">
                                <h4>xxx</h4>
                                <span><a href="#">Web Design</a> / <a href="#">name</a> / <a href="#">date</a></span>
                                <p>xxttxx</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="img/img010.jpg" alt="">
                            <div class="text-content">
                                <h4>xxx</h4>
                                <span><a href="#">E-Commerce</a> / <a href="#">name</a> / <a href="#">date</a></span>
                                <p>xxttxx</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
